# Python cache files (if any)
__pycache__/

# All txt files
token.txt
personal.txt

# logging file
geckodriver.log
ghostdriver.log
*.exit
exit

# IDE settings
.vs/
.vscode/
.idea/

# All api
*.xlsx
*.xls

# Database
